---
layout: splash
permalink: /
title: Parrocchia di San Zenone a Salorino.
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/base/chiesa_cartolina.jpg

excerpt: 'Benvenuti sul sito della parrocchia di San Zenone a Salorino.<br /> 
<small>
<a href="/news/">Ultime novità.</a><br />
<a href="/bollettino/2411/bollettino-2411/">Il Bollettino - Novembre 2024 - Febbraio 2025</a><br />  
<b><a href="/info/contatti-ed-orari/#restiamo-in-contatto">Restiamo in contatto via WhatsApp</a></b><br />
<a href="/info/regolamento/">Il Regolamento parrocchiale</a><br />  
</small>'

feature_row:
  - image_path: /assets/images/base/s_bollettino.png
    alt: "Bollettino Parrocchiale"
    title: "Bollettino Parrocchiale"
    excerpt: "La versione elettronica del bollettino parrocchiale distribuito agli abitanti di Salorino."
    url: "/idx/categories/bollettino/"
    btn_class: "btn--primary"
    btn_label: "Leggi"
  - image_path: /assets/images/base/s_appuntamenti.png
    alt: "Calendario degli appuntamenti"
    title: "Appuntamenti"
    excerpt: "Il calendario completo degli appuntamenti della parrocchia."
    url: "/idx/tags/appuntamenti/"
    btn_class: "btn--primary"
    btn_label: "Scopri"
  - image_path: /assets/images/base/s_topics.png
    alt: "Elenco argomenti"
    title: "Argomenti"
    excerpt: "I contentuti del sito, divisi per argomento."
    url: "/tags/"
    btn_class: "btn--primary"
    btn_label: "Trova"
intro:
  - excerpt: ''
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

