---
layout: splash
permalink: /
title: Parrocchia di San Zenone a Salorino.
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/base/chiesa_cartolina.jpg

excerpt: 'Benvenuti sul sito della parrocchia di San Zenone a Salorino.<br /> <small><a href="/news/">Ultime novità.</a></small><br /><small><b><a href="/bollettino/2003/lettera/">Il Bollettino - Marzo 2020</a></b></small><br /><small><b><a href="/coretto/">Vieni a  cantare nel coretto!</a></b></small><br /><small><a href="/foto/lanternata-2019/">Foto: Lanternata di Natale 2019</a></small><br />'

feature_row:
  - image_path: /assets/images/base/s_bollettino.png
    alt: "Bollettino Parrocchiale"
    title: "Bollettino Parrocchiale"
    excerpt: "La versione elettronica del bollettino parrocchiale distribuito agli abitanti di Salorino."
    url: "/idx/categories/bollettino/"
    btn_class: "btn--primary"
    btn_label: "Leggi"
  - image_path: /assets/images/base/s_appuntamenti.png
    alt: "Calendario degli appuntamenti"
    title: "Appuntamenti"
    excerpt: "Il calendario completo degli appuntamenti della parrocchia."
    url: "/idx/tags/appuntamenti/"
    btn_class: "btn--primary"
    btn_label: "Scopri"
  - image_path: /assets/images/base/s_topics.png
    alt: "Elenco argomenti"
    title: "Argomenti"
    excerpt: "I contentuti del sito, divisi per argomento."
    url: "/tags/"
    btn_class: "btn--primary"
    btn_label: "Trova"
intro:
  - excerpt: ''
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

